/* General Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.flex-container{
    display: flex;
    /* max-width: 1600px; */
}

.container{
    width: 100%;
}

/* Nav Rules */

.nav{
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: black;
    width: 30%;
}

/* Spotify Logo */

.spotify .logo.large{
    margin: 10px 15px;
    width: 50%;
    /* DEBUG */
    /* background-color: blue; */
}

.spotify .logo.small{
    display: none;
    margin: 10px 15px;
    width: 20%;
    /* DEBUG */
    /* background-color: yellow; */
}

/* Nav Items */

.content ul li{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    padding: 15px 0 0 15px;
    color: grey;
    /* DEBUG */
    /* background-color: red; */
}

h4{
    padding-left: 10px;
    font-size: 15px;
    color: grey;
}

/* Playlist Items */

.playlist{  
    /* DEBUG */
    /* background-color: yellow; */
}

#specialone{
    padding: 20px 10px;
    color: white;
}

.fa-sharp.fa-solid.fa-square-plus{
    font-size: 20px;
    padding-left: 10px;
    color: grey;
}

#specialtwo{
    font-size: 10px;
    display: inline-block;
    color: grey;
    padding: 5px;                   
}

.nome.playlist ul li{
    overflow-y: scroll;
    font-size: 12px;
    color: grey;
    /* DEBUG */
    /* background-color: yellow; */
}

/* Installa App Items */

.installa.app{
    position: fixed;
    z-index: 101;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    padding: 10px 0 10px 10px;
    width: 21%;
    background-color: black;
}

.fa-regular.fa-circle-down,
.fa-solid.fa-circle-user{
    font-size: 15px;
    color: grey;
}

hr{
    width: 80%;
}

#specialthree{
    display: inline-block;
    color: white;
    font-size: 10px;
    /* padding-bottom: 100px; */
}

/* Main Container */

.container.main{
    margin: 100px auto;
    width: 100%;
    /* DEBUG */
    background-color: rgba(0, 0, 0, 0.8)
}

.top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    /* DEBUG */
    background-color: rgba(0, 0, 0, 0.9)
} 

a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
    /* margin:100px ; */
}

.main.tool ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* DEBUG */
    /* background-color: green; */
    border: 1px solid white;
}

.main.tool ul li{
    padding: 10px;
    list-style-type: none;
    font-size: 13px;
    color: grey;
}

.container.album{
    display: flex;
    background-color: green;
    width: 100%;
    margin: 5px;
}

.square{
    margin: 10px;
    width: calc((100% / 6) - 10px);

    /* DEBUG */
    background-color: yellow;
    border: 1px solid black;
}

.square img{
    width: 100%;
}

h1{
    width: 30%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
}

.titlone{
    color: white;
    text-align: center;
}

.undertitle{
    color: grey;
    text-align: center;
}
/* Footer Rules */

.bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100px;
    /* DEBUG */
    background-color: #1b1b1b;
}

/* Footer Left */

.bottom .left{
    display: flex;
    width: 25%;
    /* background-color: red; */
}

.left .sinister{
    padding-left: 10px;
    width: 20%;
    align-self: center;
}

#top, #bottom{
    padding: 0 0 0 10px;
    list-style-type: none;
}

.left ul #top{
    color: white;
    font-size: 15px;
    padding-top: 35px;
}

.left ul #bottom{
    color: grey;
    font-size: 12px;
}

.icons{
    display: flex;
    align-items: center;
    color: grey;
    padding-left:25px;
}

#folder, #heart{
    color: grey;
    padding-left: 20px;
}

/* Footer Middle */

.bottom .middle{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: yellow; */
}

.middle .footerone{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    /* DEBUG */
    /* background-color: red; */
}

.bar,li{
    color: white;
    padding: 15px;
    display: flex;
}

.footertwo .load{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    /* DEBUG */
    /* background-color: green; */
}

.load #barwhite{
    color: white;
    width: 10%;
}

.load #bargrey{
    color: grey;
    width: 30%;
}

.bottom .right{
    width: 25%;
    background-color: blue;
}









/* Medium Version*/
@media screen and (max-width:776px){
    
    /* Nav */

    .nav{
        width: 30%;
    }
    .spotify .logo.small{
        display: none;
    }

    .main.tool ul li{
        font-size: 13px;
    }

}

/* Medium Tablet*/
@media screen and (max-width:688){
    
    /* Nav */

    .nav{
        width: 100%;
    }
}

/* Mobile Tablet*/
@media screen and (max-width:541px){
}


/*  Small Mobile Tablet*/
@media screen and (max-width:484px){

    /* Nav */

    .nav{
        width:10%;
    }
    
    /* Spotify Logo */

    .spotify .logo.large{
       display: none;
    }

    .spotify .logo.small{
        width: 70%;
        margin: 10px auto;
        display: block;
    }

    /* Nav Items */

    .content ul li{
        font-size: 15px;
        padding-left: 14px;
    }

    h3, h4, 
    .playlist, .nome.playlist {
        display: none;
    }

    hr, #specialtwo, #specialthree {
        display: none;
    }

    .installa.app{
        width: 9%;
    }

    .fa-regular.fa-circle-down{
        font-size: 15px;
        padding: 0 0 10px 3px;
    }
    .fa-solid.fa-circle-user{
        font-size: 20px;
    }
    
}   
